body{
	/*background-image: url("/icon1.jpg") no-repeat center center fixed;*/
}

#bg{
	position: fixed;
	top: 0;
	left: 0;

	min-width: 100%;
	min-height: 100%;
	z-index: -1;
}
div.line{
	position: absolute;
	background-color: black;
	width: 100%;
	height: 0px;
	opacity: 0.7; 
}
div.hf{
	position: absolute;
	background-color: black;
	width: 100%;
}
#header{
	top: 0;
	height: 3.5em;
	z-index: 2;
}

#footer{
	bottom: 0;
	height: 1.5em;
	z-index: 2;
}
#name{
	position: absolute;
	top: -1.0em;
	color: white;
	text-indent: 3em;
}
#link_container{
	position: absolute;
	/*border: 1px solid white;*/
	right: 3em;	
	width: 34em;
	height: 3.5em;
	z-index: 3;
}
i{
	z-index: 4;
	padding-right: 2.3em;

}
div.inner{
	position: absolute;
	border-radius: 2em;
	background-color: black;
	opacity: 0.9;
	z-index: 4;
}
#pic{
	position: absolute;
	width: 24em;
	height: 27.5em;
	top: 11em;
	left: 12em;
	padding-left: 2em;
	padding-top: 2em;
	z-index: 5;

}
#bio{
	width: 35em;
	height: 31.4em;
	top: 8.5em;
	left: 40em;
	color: white;
	font-size: 105%;
	padding: 2.5em;
}